{% extends 'base.html.twig' %}

{% block title %}Navigation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/common/h2title.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    <h2>Voici toutes les annonces hébergées</h2>

    {% if annoucements is defined %}
        <div class="annoucementList">
            {% for a in annoucements %}
                {{ include('annoucement.html.twig', {
                    annoucement:a,
                    link:false,
                }) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
