{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}
    {% if annoucement is defined %}
    <div class="details">
        {{ include('annoucement.html.twig', {
            'annoucement':annoucement,
            link:false,
        }) }}
        <a class="detail/retour" href="{{ path('home') }}">Retour</a>
    </div>
    {% endif %}
{% endblock %}
