{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/detail/return.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    {% if annoucement is defined %}
    <div class="details">
        {{ include('annoucement.html.twig', {
            'annoucement':annoucement,
            'link':false,
        }) }}
        <a href="{{ path('home') }}" class="retour"><div class="retour">{{ 'return' | trans({}, 'Detail') }}</div></a>
    </div>
    {% endif %}
{% endblock %}
