{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="addAnnoucement">
    <h2>Ajout d'une annonce</h2>
    <form>
        <label for="title">Titre de l'annonce : </label>
        <input type="text" name="title" class="title">
        <br>
        <label for="price">Prix de l'annonce : </label>
        <input type="number" name="price" class="price">
        <br>
        <label for="content">Contenu de l'annonce : </label>
        <input type="text" name="content" class="content"><br>
        <input type="submit" value="Ajouter">
    </form>
</div>
{% endblock %}
