<nav>
    <ul>
        <a href="{{ path('home') }}"><li>HOME</li></a>

        <a href="{{ path('pageList') }}"><li>RECHERCHE</li></a>

        <a href="{{ path('addPage') }}"><li>AJOUTER</li></a>
    </ul>
</nav>