<nav>
    <ul>
        <li><a href="{{ path('home') }}">HOME</a></li>

        <li><a href="{{ path('pageList') }}">Naviger dans les annonces</a></li>

        <li><a href="{{ path('addPage') }}">Ajouter une annonce</a></li>
    </ul>
</nav>